# Feature Engineering

As we have no duplicates or null values we can just directly import the dataset again and do ur feature engineering from there.

In [33]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

DATA_DIR = "../Data/"

train_data = pd.read_csv(DATA_DIR +"train.csv")
test_data = pd.read_csv(DATA_DIR + "test.csv")



def preprocess_data(train_data : pd.DataFrame, test_data : pd.DataFrame) -> pd.DataFrame:
    # Drop id
    train_data.drop("id",axis = 1, inplace = True)
    test_data.drop("id", axis = 1, inplace = True)

    # Get column types
    numerical_columns = list(train_data.select_dtypes(exclude=["object"]).columns)
    cat_columns = list(train_data.select_dtypes(include="object").columns)
    test_numerical_columns = list(test_data.select_dtypes(exclude=["object"]).columns)
    
    # Encode cat data with one hot encoding
    train_data = pd.get_dummies(train_data, cat_columns, drop_first= True, dtype = int)
    test_data = pd.get_dummies(test_data, cat_columns, drop_first= True, dtype = int)
    
    return train_data, test_data


train_data, test_data = preprocess_data(train_data, test_data)
train_data.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,loan_status,person_home_ownership_OTHER,person_home_ownership_OWN,...,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,loan_grade_B,loan_grade_C,loan_grade_D,loan_grade_E,loan_grade_F,loan_grade_G,cb_person_default_on_file_Y
0,37,35000,0.0,6000,11.49,0.17,14,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,22,56000,6.0,4000,13.35,0.07,2,0,0,1,...,1,0,0,0,1,0,0,0,0,0
2,29,28800,8.0,6000,8.90,0.21,10,0,0,1,...,0,1,0,0,0,0,0,0,0,0
3,30,70000,14.0,12000,11.11,0.17,5,0,0,0,...,0,0,1,1,0,0,0,0,0,0
4,22,60000,2.0,6000,6.92,0.10,3,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [24]:
def feature_engineer(train_data :pd.DataFrame, test_data : pd.DataFrame) -> pd.DataFrame:

NameError: name 'test_dat' is not defined